body {
    margin: 0;
    padding: 0;

}


.header,
.hero,
.footer {
    background-color: #1f2937;

}

.button,
.hero-main,
.logo {
    color: #f9faf8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary,
.footer,
.links {
    color: #e5e7eb;
    font-size: 18px;
}

.button,
.call {
    background-color: #3882f6;
}

.info-header,
.quote {
    color: #1f2937;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;

}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Sarina', cursive;
    font-size: 24px;

}


.links {
    display: flex;
    gap: 48px;

}

.hero {
    display: flex;
    padding: 48px;
    justify-content: space-between;

}

.hero-img {
    background-color: #333;
    width: 50%;
}

.button {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    margin: 8px 0;
}

.info {
    padding: 48px;
}

.info-header {
    display: flex;
    justify-content: center;
}

.info-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 48px;
    gap: 48px;


}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.subtxt {
    max-width: 150px;
}

.quote {
    padding: 48px;
    font-size: 36px;
    display: flex;
    flex-direction: column;

}


.quotation {
    font-weight: lighter;
    font-style: italic;
}

.cite {
    font-weight: bold;
    text-align: right;
}